name: Release

on:
  pull_request:    
  schedule:
    # 2 AM on Sunday
    - cron: "0 2 * * 0"
  workflow_dispatch:

# we do not want more than one release workflow executing at the same time, ever
concurrency:
  group: release
  # cancelling in the middle of a release would create incomplete releases
  # so cancel-in-progress is false
  cancel-in-progress: false

permissions:
  contents: write
  checks: write
  id-token: write
  statuses: write

jobs:
  release:
    if: github.repository == 'substrait-io/substrait-go'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:          
          fetch-depth: 0
      - name: Run go-semantic-release           
        run: |          
          wget https://github.com/Nightapes/go-semantic-release/releases/download/v2.1.1/go-semantic-release.linux_x86_64.zip
          unzip go-semantic-release.linux_x86_64.zip
          ./go-semantic-release.linux_x86_64 release -l trace
